/*Cores*/
:root{
    --peto: #000000;
    --cinza-escuro: #222222;  
    --marrom: #3c3333; 
    --cinza: #f2f1eb;
    --branco: #fff; 
}   

/*Fontes*/

@font-face{
    font-family: 'vintage king';
    src: url('Fontes/VintageKing.ttf');
}
@font-face{
    font-family: 'tracy queen';
    src: url('Fontes/TracyQueen_PERSONAL_USE_ONLY.otf');
}
@font-face{
    font-family: 'pencil typewriter';
    src: url('Fontes/zai_PencilTypewriter.ttf');
}
@font-face{
    font-family: 'mondrake';
    src: url('Fontes/Mondrake.ttf');
}

*{
    margin: 0;
    padding: 0;
}

/*CODE*/

body {
    background-image:url('Imagens/fundo.png');
    background-size: contain;
}

/*Article*/

article {
    width: 90%;
    height: 1400px;
    display: block;
    float: left;
    display: flex;
}

article section {
    width: 90%;
}

article p, ul, ol {
    font-family: 'pencil typewriter';
    font-size: 15px;
    color: var(--cinza);
}

article h2 {
    font-family: 'tracy queen';
    font-size: 25px;
    font-weight: 200;
    margin-top: 13px;
    color: var(--cinza);
}

#informacoes{
    flex: 0 0 70%;
    padding: 20px;
}

#fotos{
    flex: 0 0 30%; 
    padding: 20px;
}

/* polaroids */
.polaroid {
    width: 300px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 2px;
    margin: 20px;
    box-sizing: border-box;
    border: 5px solid #fff;
}

.polaroid img {
    width: 100%;
    border-bottom: 10px solid #fff;
}

.polaroid p {
    color: var(--cinza-escuro);
}

/*ajuste nas fotos*/

.centralizar {
    text-align: center;
}

.imagens {
    width: 60%;
    margin: 20px;
}

/*Aside*/

aside{
    width: 10%;
    height: 1400px;
    display:block;
    float:left;
    background-image: url(Imagens/Arcoiris.png);
    background-size: 100% auto;
}

/*Header*/

header{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    text-align: center;
    background-image: url(Imagens/header.png);
    background-size: cover;
}

header h1{
    font-family:'tracy queen';
    font-size: 85px;
    color: var(--cinza-escuro);
    display: inline-block;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.324);
}

/*Footer*/

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-image: url(Imagens/footer.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    justify-content: center;
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgb(212, 212, 214) 25%, transparent 25%, transparent 50%, rgba(227,227,229) 50%, rgb(223, 223, 224) 75%, transparent 75%, transparent 100%);
    background-size: 50px 10px;
}

footer a {
    border-radius: 12px; 
    border: 2px solid black;
    padding: 7px;
    cursor: pointer; 
    color: black; 
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
    right: 10px;
    font-family: 'pencil typewriter';
}

footer a:hover {
    background-color: black; 
    color: white; 
}


footer h1{
    font-family: 'tracy queen';
    font-weight: 200;
    text-align: center;
}

footer h2{
    font-family: 'tracy queen';
    font-weight: 200;
    padding-bottom: 10px;
}

.links {
    flex: 0 0 50%;
    text-align: center;
    float:left;
    width: 50%;
}