/*CORES*/
:root{
    --lilás: #c9b8cc; 
    --roxo: #905999; 
    --branco: #fff; 
    --amarelo: #ffec8f; 
    --cinza: #d1cab7;
}   

/*FONTES*/
@font-face{
    font-family: 'alte haas grotesk';
    src: url('./font/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
}
@font-face{
    font-family: 'richu mast';
    src: url('./font/richu_mast/Richu\ Mast\ Regular.ttf');
}
 
*{
    margin: 0;
    padding: 0;
}

/*CODE*/
header{
    width: 103%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--amarelo);
}
.bgSizeContain2 {
    height: 303px;
    width:1257px;
    background-image: url(https://img.freepik.com/fotos-premium/antigo-fundo-de-grunge-de-papel-pardo-textura-de-cor-de-cafe-liquido-abstrato_51524-19336.jpg);
    background-size: contain;
    border: 2px solid darkgray;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
  }


article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--lilás);
}

article section{
    margin: 10px 10px 10px 10px;
}

article ul{
    margin-left: 15px;
}

.titulos{
    font-family:'richu mast';
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px var(--branco);
}

.info{
    font-family: 'alte haas grotesk';
    font-size: 17px
}


aside{
    width: 30%;
    height: 800px;
    display:block;
    float:left;
    background-color: var(--roxo);
    background-image: url(porquinhos_bg.png) ;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    margin: 10px;

}
.gallery__item {
    width:10px;
    height:10px;
    object-fit: cover;
}

footer{
    width: 103%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--cinza);
}

/*header*/


#box a {
    width: 250px;
    height: 250px;
    margin-left: 5px;
    margin-top: 20px;
    float: left;
    display: block;
    background-color: var(--cinza);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    box-shadow: 5px 5px #ffea00;
    border: 4px var(--branco);
    border-style: solid;
    border-radius: 50%;
    background-image:url(https://camo.githubusercontent.com/687d4504dfb6b6c4e00e86bb10b3a9ecfade5297e31e31a913939487c442e595/68747470733a2f2f692e696d6775722e636f6d2f69396c524261512e6a706567) ;
}
#box span {
    display: none;
}

header h1{
    font-family:'richu mast';
    font-size: 60px;
    letter-spacing: 1px;
    color: var(--roxo);
    display: block;
    margin-left: 22%;
    float: left;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 2px 2px rgb(228, 175, 0);
}

header ul {
    list-style-type: none;
    display: block;
    margin-top: 12%;
    overflow: hidden;
    margin-left: 42%;
    
  }

header li {
    display: inline;
    float: left;
  }
.navigation a {
    display: block;
    padding: 8px;
    background-color: var(--lilás);
    
  }
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
header li a:hover {
    background-color: var(--roxo);
  }


footer a{
    background: var(--roxo);
    border-radius: 12px; 
    padding: 7px; 
    cursor: pointer; 
    color: #000000; 
    border: none; 
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
    right: 10px;
    font-family: 'alte haas grotesk' ;
}

footer h1{
    font-family: 'alte haas grotesk' ;
}

.gallery img{
    width: 180px;
    height: 180px;
    border-radius: 10%;
    border-style: solid;
    border: 4px var(--branco);
    box-shadow: 2px 2px var(--branco);
}

.Fodase{
    margin-top: 50%;
    margin-left: 20px;
    background-color: #c9b8cc73;
    border-radius: 10%;
    box-shadow: 2px 2px var(--branco);
    width: 90%;
    height: 25%;
}

.Fodase h1{
    font-family: 'richu mast';
    font-style: var(--roxo);
    -webkit-text-stroke: 1px var(--branco);
    color: black;
    margin-left: 10px;
}

.Fodase ul{
    color: black;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.bgSizeContain {
    height: 800px;
    width:400px;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/14398301-padrao-de-arco-iris-sem-costura-de-ilustracaoial-de-listras-verticais-brilhantes-vetor.jpg);
    background-size: contain;
    border: 2px solid darkgray;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
  }
  
  .balao{
    background: #ab8484;
    border-radius: 0 30px 30px 0;
    width: 300px;
    height: 280px;

    /* Position relative para a seta não exceder os limites do balão, já que vamos usar position absolute nele */
    position: relative;

    margin-bottom: 1em;
}

.balao2{
    background: #ab8484;
    border-radius: 0 30px 30px 0;
    width: 300px;
    height: 280px;

    /* Position relative para a seta não exceder os limites do balão, já que vamos usar position absolute nele */
    position: relative;

    margin-bottom: 1em;
}
